# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc

# Intermediate documents
*.dvi
*.ps

# PDF files
*.pdf
!image/*.pdf

# SyncTeX files
*.synctex.gz
*.synctex(busy)

# Backup files
*.bak
*.sav

# Build directories
_build/
*.fls
*.fdb_latexmk

# Other files
*.nav
*.snm